.Global_Images{display: inline-block;background-image:url('../images/icons/Global_Images.png');}
.icon16x16{width:16px;height:16px;}
.icon24x24{width:24px;height:24px;}
.icon32x32{width:32px;height:32px;}
.icon_Search_16x16{background-position:0px 0px;}
.icon_Help_16x16{background-position:0px -16px;}
.icon_plus_16x16{background-position:0px -32px;}
.icon_SpeedSearch_16x16{background-position:0px -48px;}
.icon_Schedule_Meeting_16x16{background-position:0px -64px;}
.icon_Schdedule_To_Do_16x16{background-position:0px -80px;}
.icon_Schedule_Personal_Activity_16x16{background-position:0px -96px;}
.icon_Clear_Activity_16x16{background-position:0px -112px;}
.icon_Schedule_Call_16x16{background-position:0px -128px;}
.icon_New_Contact_16x16{background-position:0px -144px;}
.icon_New_Ticket_16x16{background-position:0px -160px;}
.icon_New_Opportunity_16x16{background-position:0px -176px;}
.icon_New_Note_16x16{background-position:0px -192px;}
.icon_Accounts_16x16{background-position:0px -208px;}
.icon_User_Date_Stamp_16x16{background-position:0px -224px;}
.icon_Save_16x16{background-position:0px -240px;}
.icon_Account_Service_Information_16x16{background-position:0px -256px;}
.icon_Print_View_16x16{background-position:0px -272px;}
.icon_Delete_16x16{background-position:0px -288px;}
.icon_Save_New16x16{background-position:0px -304px;}
.icon_Move_Contact_16x16{background-position:0px -320px;}
.icon_Alternate_Address_16x16{background-position:0px -336px;}
.icon_Find_16x16{background-position:0px -352px;}
.icon_Save_Clear16x16{background-position:0px -368px;}
.icon_End_16x16{background-position:0px -384px;}
.icon_Browse_Previous_16x16{background-position:0px -400px;}
.icon_Browse_Next_16x16{background-position:0px -416px;}
.icon_Start_16x16{background-position:0px -432px;}
.icon_Find_Add_16x16{background-position:0px -448px;}
.icon_Find_Remove_16x16{background-position:0px -464px;}
.icon_Punch_In_16x16{background-position:0px -480px;}
.icon_New_Leads_16x16{background-position:0px -496px;}
.icon_Copy_16x16{background-position:0px -512px;}
.icon_CopyToClipboard_16x16{background-position:0px -528px;}
.icon_Edit_Item_16x16{background-position:0px -544px;}
.icon_Send_Write_email_16x16{background-position:0px -560px;}
.icon_Recurring_16x16{background-position:0px -576px;}
.icon_elipses{background-position:0px -592px;}
.icon_Reset_16x16{background-position:0px -608px;}
.icon_No_icon_16x16{background-position:0px -624px;}
.icon_campaigns_new_16x16{background-position:0px -640px;}
.icon_defect_new_16x16{background-position:0px -656px;}
.icon_contract_new_16x16{background-position:0px -672px;}
.icon_return_new_16x16{background-position:0px -688px;}
.icon_Contacts_16x16{background-position:0px -704px;}
.icon_Opportunity_List_16x16{background-position:0px -720px;}
.icon_campaigns_16x16{background-position:0px -736px;}
.icon_contract_16x16{background-position:0px -752px;}
.icon_defect_16x16{background-position:0px -768px;}
.icon_lead_16x16{background-position:0px -784px;}
.icon_return_16x16{background-position:0px -800px;}
.icon_ticket_16x16{background-position:0px -816px;}
.icon_no_Icon_16x16_x{background-position:0px -832px;}
.icon_associate_16x16{background-position:0px -848px;}
.icon_account_new_16x16{background-position:0px -864px;}
.icon_write_16x16{background-position:0px -880px;}
.icon_Schedule_Event_16x16{background-position:0px -896px;}
.icon_Schedule_Literature_Request_16x16{background-position:0px -912px;}
.icon_Schedule_Ticket_Activity_16x16{background-position:0px -928px;}
.icon_Import_Leads_16x16{background-position:0px -944px;}
.icon_options_16x16{background-position:0px -960px;}
.icon_Processes_16x16{background-position:0px -976px;}
.icon_Opportunity_Dashboard_16x16{background-position:0px -992px;}
.icon_Groups_16x16{background-position:0px -1008px;}
.icon_Alarm_16x16{background-position:0px -1024px;}
.icon_complete_activity_16x16{background-position:0px -1040px;}
.icon_To_Do_16x16{background-position:0px -1056px;}
.icon_Import_History_16x16{background-position:0px -1072px;}
.icon_recently_viewed_16x16{background-position:0px -1088px;}
.icon_cancel{background-position:0px -1104px;}
.icon_check{background-position:0px -1120px;}
.icon_gear_cancel{background-position:0px -1136px;}
.icon_gear_check{background-position:0px -1152px;}
.icon_Sales_Order_16x16{background-position:0px -1168px;}
.icon_user_16{background-position:0px -1184px;}
.icon_competitors_16x16{background-position:0px -1200px;}
.icon_departments_16x16{background-position:0px -1216px;}
.icon_lead_sources_16x16{background-position:0px -1232px;}
.icon_packages_16x16{background-position:0px -1248px;}
.icon_teams_16x16{background-position:0px -1264px;}
.icon_pick_lists_16x16{background-position:0px -1280px;}
.icon_users_16x16{background-position:0px -1296px;}
.icon_roles_16x16{background-position:0px -1312px;}
.icon_product_16{background-position:0px -1328px;}
.icon_Literature_16x16{background-position:0px -1344px;}
.icon_Literature_Item_New_16x16{background-position:0px -1360px;}
.icon_users_16x16_new{background-position:0px -1376px;}
.icon_teams_16x16_new{background-position:0px -1392px;}
.icon_departments_16x16_new{background-position:0px -1408px;}
.icon_roles_16x16_new{background-position:0px -1424px;}
.icon_product_16x16_new{background-position:0px -1440px;}
.icon_packages_16x16_new{background-position:0px -1456px;}
.icon_competitors_16x16_new{background-position:0px -1472px;}
.icon_lead_sources_16x16_new{background-position:0px -1488px;}
.icon_Tools_16x16{background-position:0px -1504px;}
.icon_check_for_duplicate_history_16x16{background-position:0px -1520px;}
.icon_check_for_duplicates_16x16{background-position:0px -1536px;}
.icon_process_duplicate_records_16x16{background-position:0px -1552px;}
.icon_sync_jobs_16x16{background-position:0px -1568px;}
.icon_sync_results_16x16{background-position:0px -1584px;}
.icon_integration_setup_16x16{background-position:0px -1600px;}
.icon_dashboard_marketing_16x16{background-position:0px -1616px;}
.icon_dashboard_sales_16x16{background-position:0px -1632px;}
.icon_dashboard_support_16x16{background-position:0px -1648px;}
.icon_data_map_16x16{background-position:0px -1664px;}
.icon_filters_manager_16x16{background-position:0px -1680px;}
.icon_form_16x16{background-position:0px -1696px;}
.icon_form_manager_16x16{background-position:0px -1712px;}
.icon_lock_all_16x16{background-position:0px -1728px;}
.icon_map_16x16{background-position:0px -1744px;}
.icon_promote_account_16x16{background-position:0px -1760px;}
.icon_submit_to_accounting_sys_16x16{background-position:0px -1776px;}
.icon_unlock_all_16x16{background-position:0px -1792px;}
.icon_add_products_16x16{background-position:0px -1808px;}
.icon_add_custom_product_16x16{background-position:0px -1824px;}
.icon_submit_to_accounting_sys_16x161{background-position:0px -1840px;}
.icon_update_price_list_16x16{background-position:0px -1856px;}
.icon_renumber_16x16{background-position:0px -1872px;}
.icon_qualification_16{background-position:0px -1888px;}
.icon_resources_equip_16_new{background-position:0px -1904px;}
.icon_qualification_16_new{background-position:0px -1920px;}
.icon_permission_16x16_new{background-position:0px -1936px;}
.icon_resources_equip_16{background-position:0px -1952px;}
.icon_permission_16x16{background-position:0px -1968px;}
.icon_StandardProblem_16{background-position:0px -1984px;}
.icon_StandardResolution_16{background-position:0px -2000px;}
.icon_StandardProblem_16_new{background-position:0px -2016px;}
.icon_StandardResolution_16_new{background-position:0px -2032px;}
.icon_cancl_16{background-position:0px -2048px;}
.icon_CopyContact_16x16{background-position:0px -2064px;}
.icon_AreaCategoryIssue_16x16{background-position:0px -2080px;}
.icon_DefectActivityRate_16x16{background-position:0px -2096px;}
.icon_TicketActivityRate_16x16{background-position:0px -2112px;}
.icon_TicketAreaOwner_16x16{background-position:0px -2128px;}
.icon_securityManager_16x16{background-position:0px -2144px;}
.icon_alertIcon_16x16{background-position:0px -2160px;}
.icon_refresh{background-position:0px -2176px;}
.icon_login_16{background-position:0px -2192px;}
.icon_Meeting_16x16{background-position:0px -2208px;}
.icon_note_16x16{background-position:0px -2224px;}
.icon_To_Do_16x161{background-position:0px -2240px;}
.icon_Personal_16x16{background-position:0px -2256px;}
.icon_mailletter_16x16{background-position:0px -2272px;}
.icon_fax_16x16{background-position:0px -2288px;}
.icon_Document_Type_16x16{background-position:0px -2304px;}
.icon_Filter_16x16{background-position:0px -2320px;}
.icon_Call_16x16{background-position:0px -2336px;}
.icon_google_16x16{background-position:0px -2352px;}
.icon_Internet_Service_Add_16x16{background-position:0px -2368px;}
.icon_unconfirmedActivity16x16{background-position:0px -2384px;}
.icon_attach_to_16{background-position:0px -2400px;}
.icon_recurring{background-position:0px -2416px;}
.icon_SnoozeAlarm_16x16{background-position:0px -2432px;}
.icon_DismissAlarm_16x16{background-position:0px -2448px;}
.icon_Switch_to_List_View_16x16{background-position:0px -2464px;}
.icon_Calendar_16x16{background-position:0px -2480px;}
.icon_Toggle_Maximize_16x16{background-position:0px -2496px;}
.icon_Toggle_Midimize_16x16{background-position:0px -2512px;}
.icon_Toggle_Minimize_16x16{background-position:0px -2528px;}
.icon_insert-arrow-down16x16{background-position:0px -2544px;}
.icon_insert-arrow-left16x16{background-position:0px -2560px;}
.icon_no16x16{background-position:0px -2576px;}
.icon_ok16x16{background-position:0px -2592px;}
.icon_pdf_16x16{background-position:0px -2608px;}
.icon__MissingImage{background-position:-17px 0px;}
.icon_Calendar_24x24{background-position:-17px -24px;}
.icon_Reports_24x24{background-position:-17px -48px;}
.icon_Opportunity_Dashboard_24x24{background-position:-17px -72px;}
.icon_Contacts_24x24{background-position:-17px -96px;}
.icon_New_Ticket_24x24{background-position:-17px -120px;}
.icon_Send_Write_email_24x24{background-position:-17px -144px;}
.icon_Companies_24x24{background-position:-17px -168px;}
.icon_New_Contact_24x24{background-position:-17px -192px;}
.icon_New_Note_24x24{background-position:-17px -216px;}
.icon_Reschedule_Activity_24x24{background-position:-17px -240px;}
.icon_Opportunity_List_24x24{background-position:-17px -264px;}
.icon_Accounts_24x24{background-position:-17px -288px;}
.icon_Processes_24x24{background-position:-17px -312px;}
.icon_Find_24x24{background-position:-17px -336px;}
.icon_Punch_In_24x24{background-position:-17px -360px;}
.icon_Tools_24x24{background-position:-17px -384px;}
.icon_Import_Leads_24x24{background-position:-17px -408px;}
.icon_Leads_24x24{background-position:-17px -432px;}
.icon_New_Lead_24x24{background-position:-17px -456px;}
.icon_No_icon_24x24{background-position:-17px -480px;}
.icon_campaigns_new_detail_24x24{background-position:-17px -504px;}
.icon_welcome_24x24{background-position:-17px -528px;}
.icon_ProcCancel{background-position:-17px -552px;}
.icon_ProcComplete{background-position:-17px -576px;}
.icon_contract_detail_24x24{background-position:-17px -600px;}
.icon_return_detail_24x24{background-position:-17px -624px;}
.icon_contract_new_24x24{background-position:-17px -648px;}
.icon_return_new_24x24{background-position:-17px -672px;}
.icon_defect_detail_24x24{background-position:-17px -696px;}
.icon_defect_new_24x24{background-position:-17px -720px;}
.icon_campaigns_detail_24x24{background-position:-17px -744px;}
.icon_ticket_24x24{background-position:-17px -768px;}
.icon_campaigns_24x24{background-position:-17px -792px;}
.icon_campaigns_navbar_24x24{background-position:-17px -816px;}
.icon_Library_3D_24x24{background-position:-17px -840px;}
.icon_Task_List_3D_24x24{background-position:-17px -864px;}
.icon_Whats_New_3D_Files_24x24{background-position:-17px -888px;}
.icon_no_Icon_24x24_x{background-position:-17px -912px;}
.icon_To_Do_24x24{background-position:-17px -936px;}
.icon_New_Opportunity_24x24{background-position:-17px -960px;}
.icon_options_24x24{background-position:-17px -984px;}
.icon_account_new_24x24{background-position:-17px -1008px;}
.icon_Schedule_Event_24x24{background-position:-17px -1032px;}
.icon_Schedule_Literature_Request_24x24{background-position:-17px -1056px;}
.icon_Schedule_Ticket_Activity_24x24{background-position:-17px -1080px;}
.icon_Schedule_Call_24x24{background-position:-17px -1104px;}
.icon_Schedule_Meeting_24x24{background-position:-17px -1128px;}
.icon_Schdedule_To_Do_24x24{background-position:-17px -1152px;}
.icon_Schedule_Personal_Activity_24x24{background-position:-17px -1176px;}
.icon_complete_activity_24x24{background-position:-17px -1200px;}
.icon_Groups_24x24{background-position:-17px -1224px;}
.icon_Alarm_24x24{background-position:-17px -1248px;}
.icon_Help_24x24{background-position:-17px -1272px;}
.icon_Import_History_24x24{background-position:-17px -1296px;}
.icon_Sales_Order_24x24{background-position:-17px -1320px;}
.icon_user_24{background-position:-17px -1344px;}
.icon_competitors_24x24{background-position:-17px -1368px;}
.icon_departments_24x24{background-position:-17px -1392px;}
.icon_lead_sources_24x24{background-position:-17px -1416px;}
.icon_packages_24x24{background-position:-17px -1440px;}
.icon_teams_24x24{background-position:-17px -1464px;}
.icon_pick_lists_24x24{background-position:-17px -1488px;}
.icon_users_24x24{background-position:-17px -1512px;}
.icon_roles_24x24{background-position:-17px -1536px;}
.icon_product_24{background-position:-17px -1560px;}
.icon_Literature_24x24{background-position:-17px -1584px;}
.icon_users_24x24_new{background-position:-17px -1608px;}
.icon_teams_24x24_new{background-position:-17px -1632px;}
.icon_departments_24x24_new{background-position:-17px -1656px;}
.icon_roles_24x24_new{background-position:-17px -1680px;}
.icon_packages_24x24_new{background-position:-17px -1704px;}
.icon_competitors_24x24_new{background-position:-17px -1728px;}
.icon_lead_sources_24x24_new{background-position:-17px -1752px;}
.icon_Literature_Item_New_24x24{background-position:-17px -1776px;}
.icon_check_for_duplicate_history_24x24{background-position:-17px -1800px;}
.icon_check_for_duplicates_24x24{background-position:-17px -1824px;}
.icon_process_duplicate_records_24x24{background-position:-17px -1848px;}
.icon_sync_jobs_24x24{background-position:-17px -1872px;}
.icon_sync_results_24x24{background-position:-17px -1896px;}
.icon_integration_setup_24x24{background-position:-17px -1920px;}
.icon_add_custom_product_24x24{background-position:-17px -1944px;}
.icon_add_packages_24x24{background-position:-17px -1968px;}
.icon_add_products_24x24{background-position:-17px -1992px;}
.icon_advanced_analytic_config_24x24{background-position:-17px -2016px;}
.icon_dashboard_marketing_24x24{background-position:-17px -2040px;}
.icon_dashboard_sales_24x24{background-position:-17px -2064px;}
.icon_dashboard_support_24x24{background-position:-17px -2088px;}
.icon_data_map_24x24{background-position:-17px -2112px;}
.icon_filters_manager_24x24{background-position:-17px -2136px;}
.icon_form_24x24{background-position:-17px -2160px;}
.icon_form_manager_24x24{background-position:-17px -2184px;}
.icon_lock_all_24x24{background-position:-17px -2208px;}
.icon_map_24x24{background-position:-17px -2232px;}
.icon_promote_account_24x24{background-position:-17px -2256px;}
.icon_submit_to_accounting_sys_24x24{background-position:-17px -2280px;}
.icon_sync_all_24x24{background-position:-17px -2304px;}
.icon_sync_jobs_24x241{background-position:-17px -2328px;}
.icon_sync_results_24x241{background-position:-17px -2352px;}
.icon_unlock_all_24x24{background-position:-17px -2376px;}
.icon_submit_to_accounting_sys_24x241{background-position:-17px -2400px;}
.icon_update_price_list_24x24{background-position:-17px -2424px;}
.icon_cancl_24{background-position:-17px -2448px;}
.icon_AreaCategoryIssue_24x24{background-position:-17px -2472px;}
.icon_DefectActivityRate_24x24{background-position:-17px -2496px;}
.icon_TicketActivityRate_24x24{background-position:-17px -2520px;}
.icon_TicketAreaOwner_24x24{background-position:-17px -2544px;}
.icon_SpeedSearch_24x24{background-position:-17px -2568px;}
.icon_Meeting_24x24{background-position:-17px -2592px;}
.icon_Note_24x24{background-position:-17px -2616px;}
.icon_To_Do_24x241{background-position:-17px -2640px;}
.icon_Personal_24x24{background-position:-17px -2664px;}
.icon_mailletter_24x24{background-position:-17px -2688px;}
.icon_fax_24x24{background-position:-17px -2712px;}
.icon_Call_24x24{background-position:-17px -2736px;}
.icon_Event_24x24{background-position:-17px -2760px;}
.icon_product_24x24_new{background-position:-17px -2784px;}
.icon_Ticket_List_3D_32x32{background-position:-42px 0px;}
.icon_Calendar_32x32{background-position:-42px -32px;}
.icon_Reports_32x32{background-position:-42px -64px;}
.icon_Opportunity_Dashboard_32x32{background-position:-42px -96px;}
.icon_Task_List_3D_32x32{background-position:-42px -128px;}
.icon_Companies_3D_32x32{background-position:-42px -160px;}
.icon_Contacts_32x32{background-position:-42px -192px;}
.icon_Library_3D_32x32{background-position:-42px -224px;}
.icon_Processes_32x32{background-position:-42px -256px;}
.icon_Whats_New_3D_Files_32x32{background-position:-42px -288px;}
.icon_Opportunity_List_32x32{background-position:-42px -320px;}
.icon_Opportunity_List_32x321{background-position:-42px -352px;}
.icon_Alarm_32x32{background-position:-42px -384px;}
.icon_Punch_In_32x32{background-position:-42px -416px;}
.icon_Leads_32x32{background-position:-42px -448px;}
.icon_No_icon_32x32{background-position:-42px -480px;}
.icon_campaigns_navbar_32x32{background-position:-42px -512px;}
.icon_campaigns_navbar_32x321{background-position:-42px -544px;}
.icon_welcome_32x32{background-position:-42px -576px;}
.icon_contract_navbar_32x32{background-position:-42px -608px;}
.icon_return_navbar_32x32{background-position:-42px -640px;}
.icon_defect_navbar_32x32{background-position:-42px -672px;}
.icon_no_Icon_32x32_x{background-position:-42px -704px;}
.icon_Account_Service_Information_32x32{background-position:-42px -736px;}
.icon_account_new_32x32{background-position:-42px -768px;}
.icon_Groups_32x32{background-position:-42px -800px;}
.icon_complete_activity_32x32{background-position:-42px -832px;}
.icon_Help_32x32{background-position:-42px -864px;}
.icon_To_Do_32x32{background-position:-42px -896px;}
.icon_Sales_Order_32x32{background-position:-42px -928px;}
.icon_user_32{background-position:-42px -960px;}
.icon_competitors_32x32{background-position:-42px -992px;}
.icon_departments_32x32{background-position:-42px -1024px;}
.icon_lead_sources_32x32{background-position:-42px -1056px;}
.icon_packages_32x32{background-position:-42px -1088px;}
.icon_teams_32x32{background-position:-42px -1120px;}
.icon_pick_lists_32x32{background-position:-42px -1152px;}
.icon_users_32x32{background-position:-42px -1184px;}
.icon_roles_32x32{background-position:-42px -1216px;}
.icon_product_32{background-position:-42px -1248px;}
.icon_Literature_32x32{background-position:-42px -1280px;}
.icon_Literature_Item_New_32x32{background-position:-42px -1312px;}
.icon_sync_jobs_32x32{background-position:-42px -1344px;}
.icon_sync_results_32x32{background-position:-42px -1376px;}
.icon_check_for_duplicate_history_32x32{background-position:-42px -1408px;}
.icon_add_custom_product_32x32{background-position:-42px -1440px;}
.icon_add_packages_32x32{background-position:-42px -1472px;}
.icon_add_products_32x32{background-position:-42px -1504px;}
.icon_advanced_analytic_config_32x32{background-position:-42px -1536px;}
.icon_check_for_duplicate_history_32x321{background-position:-42px -1568px;}
.icon_check_for_duplicates_32x32{background-position:-42px -1600px;}
.icon_dashboard_marketing_32x32{background-position:-42px -1632px;}
.icon_dashboard_sales_32x32{background-position:-42px -1664px;}
.icon_dashboard_support_32x32{background-position:-42px -1696px;}
.icon_data_map_32x32{background-position:-42px -1728px;}
.icon_filters_manager_32x32{background-position:-42px -1760px;}
.icon_form_32x32{background-position:-42px -1792px;}
.icon_form_manager_32x32{background-position:-42px -1824px;}
.icon_integration_setup_32x32{background-position:-42px -1856px;}
.icon_lock_all_32x32{background-position:-42px -1888px;}
.icon_map_32x32{background-position:-42px -1920px;}
.icon_process_duplicate_records_32x32{background-position:-42px -1952px;}
.icon_promote_account_32x32{background-position:-42px -1984px;}
.icon_submit_to_accounting_sys_32x32{background-position:-42px -2016px;}
.icon_sync_all_32x32{background-position:-42px -2048px;}
.icon_sync_jobs_32x321{background-position:-42px -2080px;}
.icon_sync_results_32x321{background-position:-42px -2112px;}
.icon_unlock_all_32x32{background-position:-42px -2144px;}
.icon_submit_to_accounting_sys_32x321{background-position:-42px -2176px;}
.icon_qualification_32{background-position:-42px -2208px;}
.icon_resources_equip_32_new{background-position:-42px -2240px;}
.icon_qualification_32_new{background-position:-42px -2272px;}
.icon_permission_32x32_new{background-position:-42px -2304px;}
.icon_resources_equip_32{background-position:-42px -2336px;}
.icon_permission_32x32{background-position:-42px -2368px;}
.icon_StandardProblem_32{background-position:-42px -2400px;}
.icon_StandardResolution_32{background-position:-42px -2432px;}
.icon_StandardProblem_32_new{background-position:-42px -2464px;}
.icon_StandardResolution_32_new{background-position:-42px -2496px;}
.icon_cancl_32{background-position:-42px -2528px;}
.icon_securityManager_32x32{background-position:-42px -2560px;}
.icon_SpeedSearch_32x32{background-position:-42px -2592px;}
.icon_Meeting_32x32{background-position:-42px -2624px;}
.icon_note_32x32{background-position:-42px -2656px;}
.icon_To_Do_32x321{background-position:-42px -2688px;}
.icon_Personal_32x32{background-position:-42px -2720px;}
.icon_mailletter_32x32{background-position:-42px -2752px;}
.icon_fax_32x32{background-position:-42px -2784px;}
.icon_Call_32x32{background-position:-42px -2816px;}
.icon_Send_Write_email_32x32{background-position:-42px -2848px;}
